body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #e49a04;
  background-color: #2b2b31;
}
.m-text{
  margin:40px 0 10px 40px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
}
.n-text{
  margin:5px 0 10px 40px;
  color: white;

}
p{
  margin: none !important;
  padding: none ;
}
header {
  float: left;
  width: 225px;
  height: auto;
  border-right: solid #404040 1px;
  border-bottom: solid #404040 1px;
  border-radius: 0 0 6px 0;
  padding: 10px;
  margin-right: 10px;
}

h1 {
  font-family: "Great Vibes", cursive;
  font-size: 52px;
  color: #3493d5;
  margin: 10px 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

nav ul {
  margin-left: 15px;
}

nav ul li {
  padding: 5px;
  cursor: pointer;
}

nav ul li:hover {
  background-color: #f1a458;
  color: #fff;
}

main {
  float: left;
  margin-left: 50px;
  width: 600px;
}

.beer-details h2 {
  font-size: 32px;
  text-align: center;
}

.beer-details h3 {
  font-size: 24px;
}

.beer-details img {
  display: block;
  height: 200px;
  margin: 0 auto 25px auto;
}

form {
  width: 450px;
  margin: 0 auto 50px auto;
}

textarea {
  display: block;
  width: 100%;
  height: 100px;
  border: 1px solid gray;
  padding: 5px;
  font-size: 14px;
  margin-bottom: 10px;
}

form button[type="submit"] {
  border: none;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #f1a458;
  color: #fff;
  padding: 7px 10px;
  cursor: pointer;
}

#review-list li {
  background-color: #fff3a9;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}


nav {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #2b2b31;
  height: 50px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;


}
.pointMe{
  cursor:pointer;
}
.nav_left {
  text-align: left;
  align-items: center;
  justify-content: center;
  
}
.nav_left small {

margin-bottom: 70px;
  
}
.logo_{
  height: 70px;
  width: 70px;
}
.nav_right {
  text-align: right;
  align-items: right;
}


.nav .nav_left p img {

  float: left;
  color: #7cbcfe;

}

.logo {
  height: 40px;
  width: 40px;
  margin: 5px;

  transition: all 0.1s ease-in;
}
.logo:hover {
  height: 50px;
  width: 50px;

}
.container {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 95%;
  border-radius: 5px;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
  /* box-shadow: 0 0 50px rgba(0, 0, 0, 0.315); */
  margin: 8px;
  transition: all 0.1s ease-in;
}
.container:hover {

  width: 100%;
  border-radius: 20px;
  height: 600px;
  /* box-shadow: 0 0 50px rgba(0, 0, 0, 0.315); */
}
.container .container__info {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 20%;
  display: flex;
  align-items: flex-end;
  padding: 15px 30px;
  color: #fff;
}
.container .container__info span {
  margin-right: 20px;
}
.container .container__info i {
  margin-right: 10px;
}
.container .container__profile {
  background-color: #e4f2fd;
  display: flex;
  align-items: center;
  padding: 20px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}
.container .container__profile img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
  margin-right: 10px;
}
.container .container__profile h2 {
  color: #334454;
  font-size: 1.2rem;
}
.container .container__profile p {
  color: #a1b2bc;
  font-size: 0.8rem;
}
.container .container__profile p b {
  font-style: italic;
}
.white_board {
  width: 99%;
  height: auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom:120px;
}
.c1{
  background: url('../assets/Images/movie.jpg');

}
.card{
  height: 300px;
  width: 100%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 3px;
  background-color: #2b2b31;
}
.width{
  width: 50%;
}
.description{
  width: 100%;
  height: 80px;
  padding: 5px 0 0 5px;

}
.carousel-inner{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.split{
  grid-gap: 10px;
  width: 90%;
  display: grid;
  grid-template-columns: 16.8% 16.8% 16.8% 16.8% 16.8% 16.9%;

}
.movie_details{
  padding: 10px;
  grid-gap: 10px;
  width: 94.5%;
  display: grid;
  /* height: 200px */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: linear-gradient(to right, #48290a ,#2b2b31  , #2b2b31 );
  background-size: 200% 100%;

}
.card_left{
  margin-left: 40px;
  margin-right: 20px;
}
.full{
  height: 60% ;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  position: relative;

}
.customB{
  margin-top: 10px;
  border-radius: 20px;
  background-color: #e49a04;
  color: #2b2b31;
  outline: none;
}
.customB:active{
  margin-top: 10px;
  border-radius: 20px;
  background-color: #e49a04;
  color: #2b2b31;
  outline: none;
}
.image{
  height:600px;
  border-radius: 5px;
  width: 100%;
  margin: 10px;
  background-repeat: no-repeat;
background-size: 100%;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  background-image: url('../Images/simpsons.jpg');
}
.desText{
  border-radius: 10px;
  margin-right: 10px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  justify-content: left;
  align-items: left;
  color: white !important;
}
.white{
  color: white;
}
.avatar{
  height:50px;
  width: 50px;
  border-radius: 100px;
  /* border: 2px solid #e49a04; */
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all ease-in 0.2s;
}
.avatar:hover{
  height: 200px;
  width: 200px;
  border: none;
  border-radius: 400px;
  object-fit: cover;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  transition: all ease-in 0.2s;
}
.btns{
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  border-radius: 10px;
  padding: 5px;
  height: 30px;
  transition: all 0.2s ease-in;
  
}
.btns:hover{
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  height: 40px;
  
}
.icons_{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 200px;
  margin-top: 15px;
  
}
.icons_{
  display:  grid;
  grid-template-columns: ;
}
.ratings{
  width: 200px;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;


}
/* .actor{
  height: 40px;
  width: 40px;
  border-radius: 200px;
  border:#f1a458 solid 2px;
} */